<!DOCTYPE html>
<html lang="en"><head><meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>minimalist-template/template/application.lisp - Recently Written</title>
<link rel="stylesheet" href="../../../stagit.css" />
</head><body>
<div id="top"><a href="../../../../index.html">Recently Written</a> &middot; <a href="../../../index.html">git</a></div>
<h1>minimalist-template</h1><span class="desc">Another minimalist template for quickproject</span><p class="url">git clone https://github.com/equwal/minimalist-template</p><p><a href="../../../minimalist-template/index.html">Log</a> | <a href="../../../minimalist-template/files.html">Files</a> | <a href="../../../minimalist-template/refs.html">Refs</a></p><hr/>
<div id="content">
<p>template/application.lisp (146 bytes)</p><pre class="src"><a id="l1" href="#l1">1</a> (#| TMPL_IF copyright |#)
<a id="l2" href="#l2">2</a> ;;;; (#| TMPL_VAR name |#).lisp
<a id="l3" href="#l3">3</a> ;;
<a id="l4" href="#l4">4</a> ;;;; (#| TMPL_VAR copyright |#)
<a id="l5" href="#l5">5</a> 
<a id="l6" href="#l6">6</a> (#| /TMPL_IF |#)(in-package :(#| TMPL_VAR name |#))</pre>
</div></body></html>
