<!DOCTYPE html>
<html lang="en"><head><meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>sbm-android/app/src/main/res/layout/dialog_sign_in.xml - Recently Written</title>
<link rel="stylesheet" href="../../../../../../../stagit.css" />
</head><body>
<div id="top"><a href="../../../../../../../../index.html">Recently Written</a> &middot; <a href="../../../../../../../index.html">git</a></div>
<h1>sbm-android</h1><span class="desc">sbm bookmarks for Android: fuzzy search, share to add, sync with bm and the browser add-on</span><p class="url">git clone https://github.com/equwal/sbm-android</p><p><a href="../../../../../../../sbm-android/index.html">Log</a> | <a href="../../../../../../../sbm-android/files.html">Files</a> | <a href="../../../../../../../sbm-android/refs.html">Refs</a></p><hr/>
<div id="content">
<p>app/src/main/res/layout/dialog_sign_in.xml (1781 bytes)</p><pre class="src"><a id="l1" href="#l1">1</a> &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
<a id="l2" href="#l2">2</a> &lt;ScrollView xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
<a id="l3" href="#l3">3</a>     android:layout_width=&quot;match_parent&quot;
<a id="l4" href="#l4">4</a>     android:layout_height=&quot;wrap_content&quot;&gt;
<a id="l5" href="#l5">5</a> 
<a id="l6" href="#l6">6</a>     &lt;LinearLayout
<a id="l7" href="#l7">7</a>         android:layout_width=&quot;match_parent&quot;
<a id="l8" href="#l8">8</a>         android:layout_height=&quot;wrap_content&quot;
<a id="l9" href="#l9">9</a>         android:orientation=&quot;vertical&quot;
<a id="l10" href="#l10">10</a>         android:paddingLeft=&quot;24dp&quot;
<a id="l11" href="#l11">11</a>         android:paddingTop=&quot;8dp&quot;
<a id="l12" href="#l12">12</a>         android:paddingRight=&quot;24dp&quot;&gt;
<a id="l13" href="#l13">13</a> 
<a id="l14" href="#l14">14</a>         &lt;EditText
<a id="l15" href="#l15">15</a>             android:id=&quot;@+id/server&quot;
<a id="l16" href="#l16">16</a>             android:layout_width=&quot;match_parent&quot;
<a id="l17" href="#l17">17</a>             android:layout_height=&quot;wrap_content&quot;
<a id="l18" href="#l18">18</a>             android:hint=&quot;@string/server&quot;
<a id="l19" href="#l19">19</a>             android:importantForAutofill=&quot;no&quot;
<a id="l20" href="#l20">20</a>             android:inputType=&quot;textUri&quot;
<a id="l21" href="#l21">21</a>             android:singleLine=&quot;true&quot; /&gt;
<a id="l22" href="#l22">22</a> 
<a id="l23" href="#l23">23</a>         &lt;EditText
<a id="l24" href="#l24">24</a>             android:id=&quot;@+id/email&quot;
<a id="l25" href="#l25">25</a>             android:layout_width=&quot;match_parent&quot;
<a id="l26" href="#l26">26</a>             android:layout_height=&quot;wrap_content&quot;
<a id="l27" href="#l27">27</a>             android:autofillHints=&quot;emailAddress&quot;
<a id="l28" href="#l28">28</a>             android:hint=&quot;@string/email&quot;
<a id="l29" href="#l29">29</a>             android:inputType=&quot;textEmailAddress&quot;
<a id="l30" href="#l30">30</a>             android:singleLine=&quot;true&quot; /&gt;
<a id="l31" href="#l31">31</a> 
<a id="l32" href="#l32">32</a>         &lt;EditText
<a id="l33" href="#l33">33</a>             android:id=&quot;@+id/password&quot;
<a id="l34" href="#l34">34</a>             android:layout_width=&quot;match_parent&quot;
<a id="l35" href="#l35">35</a>             android:layout_height=&quot;wrap_content&quot;
<a id="l36" href="#l36">36</a>             android:autofillHints=&quot;password&quot;
<a id="l37" href="#l37">37</a>             android:hint=&quot;@string/password&quot;
<a id="l38" href="#l38">38</a>             android:imeOptions=&quot;actionDone&quot;
<a id="l39" href="#l39">39</a>             android:inputType=&quot;textPassword&quot;
<a id="l40" href="#l40">40</a>             android:singleLine=&quot;true&quot; /&gt;
<a id="l41" href="#l41">41</a> 
<a id="l42" href="#l42">42</a>         &lt;TextView
<a id="l43" href="#l43">43</a>             android:layout_width=&quot;match_parent&quot;
<a id="l44" href="#l44">44</a>             android:layout_height=&quot;wrap_content&quot;
<a id="l45" href="#l45">45</a>             android:paddingTop=&quot;8dp&quot;
<a id="l46" href="#l46">46</a>             android:text=&quot;@string/sign_in_note&quot;
<a id="l47" href="#l47">47</a>             android:textAppearance=&quot;?android:attr/textAppearanceSmall&quot; /&gt;
<a id="l48" href="#l48">48</a>     &lt;/LinearLayout&gt;
<a id="l49" href="#l49">49</a> &lt;/ScrollView&gt;</pre>
</div></body></html>
